In [4]:
import pandas

calendar = pandas.read_csv('/Users/kirtisoglu/Documents/GitHub/Allocation-of-Primary-Care-Centers-in-Chicago/google_transit 18-03-07-885/calendar.txt')

In [5]:
calendar.head()

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,66201,1,1,1,1,1,0,0,20240130,20240331
1,66202,1,1,1,1,0,0,0,20240130,20240331
2,66203,0,1,1,1,1,0,0,20240130,20240331
3,66204,0,1,1,1,1,0,0,20240130,20240331
4,66205,0,0,0,0,1,0,0,20240130,20240331

In [6]:
frequencies = pandas.read_csv('/Users/kirtisoglu/Documents/GitHub/Allocation-of-Primary-Care-Centers-in-Chicago/google_transit 18-03-07-885/frequencies.txt')
frequencies.head()

Empty DataFrame
Columns: [trip_id, start_time, end_time, headway_secs]
Index: []

In [7]:
routes = pandas.read_csv('/Users/kirtisoglu/Documents/GitHub/Allocation-of-Primary-Care-Centers-in-Chicago/google_transit 18-03-07-885/routes.txt')
routes.head()

,route_id,route_short_name,route_long_name,route_type,route_url,route_color,route_text_color
0,1,1,Bronzeville/Union Station,3,http://www.transitchicago.com/bus/1/,565a5c,ffffff
1,2,2,Hyde Park Express,3,http://www.transitchicago.com/bus/2/,b71234,ffffff
2,3,3,King Drive,3,http://www.transitchicago.com/bus/3/,565a5c,ffffff
3,4,4,Cottage Grove,3,http://www.transitchicago.com/bus/4/,565a5c,ffffff
4,X4,X4,Cottage Grove Express,3,http://www.transitchicago.com/bus/X4/,b71234,ffffff

In [8]:
# defines how to draw a route line on a map
shapes = pandas.read_csv('/Users/kirtisoglu/Documents/GitHub/Allocation-of-Primary-Care-Centers-in-Chicago/google_transit 18-03-07-885/shapes.txt')
shapes.head()

,shape_id,shape_pt_lat,shape_pt_lon,shape_pt_sequence,shape_dist_traveled
0,66200095,41.911304,-87.631222,1,0
1,66200095,41.911304,-87.631222,2,13
2,66200095,41.911270,-87.631234,3,24
3,66200095,41.911250,-87.631264,4,33
4,66200095,41.911237,-87.631294,5,52

In [16]:
stop_times = pandas.read_csv('google_transit/stop_times.txt')
stop_times.head()

# trip_id: 	Identifies a trip.

# arrival_time: Arrival time at a specific stop for a specific trip on a route. If there are not separate times for arrival and departure at a stop, 
#               enter the same value for arrival_time and departure_time. Scheduled stops where the vehicle strictly adheres to the specified arrival and 
#               departure times are timepoints. If this stop is not a timepoint, it is recommended to provide an estimated or interpolated time. If this is not available, arrival_time can be left empty.

# stop_id: Identifies the serviced stop. All stops serviced during a trip must have a record in stop_times.txt. Referenced locations must be stops, not stations or station entrances. 
#          A stop may be serviced multiple times in the same trip, and multiple trips and routes may service the same stop.

# stop_sequence: Order of stops for a particular trip. The values must increase along the trip but do not need to be consecutive. 
#                Example: The first location on the trip could have a stop_sequence=1, the second location on the trip could have a stop_sequence=23, the third location could have a stop_sequence=40, and so on.

# pickup_type: Indicates pickup method. Valid options are:
#              0 or empty - Regularly scheduled pickup.
#              1 - No pickup available.
#              2 - Must phone agency to arrange pickup.
#              3 - Must coordinate with driver to arrange pickup.

# drop_off_type: 0 or empty - Regularly scheduled drop off.

# shape_dist_traveled: Actual distance traveled along the associated shape, from the first stop to the stop specified in this record. This field specifies how much of the shape to draw between any two stops during a trip. 
#                      Must be in the same units used in shapes.txt. Values used for shape_dist_traveled must increase along with stop_sequence; they cannot be used to show reverse travel along a route.

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,shape_dist_traveled
0,82248584890,05:43:30,05:43:30,30205,6,Loop,0,34873
1,82248584890,05:46:00,05:46:00,30215,7,Loop,0,40317
2,81248584890,05:46:00,05:46:00,30215,7,Loop,0,40317
3,82248584890,05:51:00,05:51:00,30080,8,Loop,0,51245
4,81248584890,05:51:00,05:51:00,30080,8,Loop,0,51245

In [17]:
stop_times.shape
#deleted. Huge data.

(2663183, 8)

In [10]:
stops = pandas.read_csv('/Users/kirtisoglu/Documents/GitHub/Allocation-of-Primary-Care-Centers-in-Chicago/google_transit 18-03-07-885/stops.txt')
stops.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,location_type,parent_station,wheelchair_boarding
0,1,1.0,Jackson & Austin Terminal,"Jackson & Austin Terminal, Northeastbound, Bus...",41.876322,-87.774105,0,NaN,1
1,2,2.0,5900 W Jackson,"5900 W Jackson, Eastbound, Southside of the St...",41.877067,-87.771318,0,NaN,1
2,4,4.0,5700 W Jackson,"5700 W Jackson, Eastbound, Southside of the St...",41.877024,-87.767451,0,NaN,1
3,6,6.0,Jackson & Lotus,"Jackson & Lotus, Eastbound, Southeast Corner",41.876513,-87.761446,0,NaN,1
4,7,7.0,5351 W Jackson,"5351 W Jackson, Eastbound, Southside of the St...",41.876552,-87.758925,0,NaN,1

In [11]:
transfers = pandas.read_csv('google_transit/transfers.txt')
transfers.head()

# from_stop_id: Identifies a stop or station where a connection between routes begins. If this field refers to a station, the transfer rule applies to all its child stops.
# to_stop_id: Identifies a stop or station where a connection between routes ends. If this field refers to a station, the transfer rule applies to all child stops.
# transfer_type: Indicates the type of connection for the specified (from_stop_id, to_stop_id) pair. 
#    0 or empty - Recommended transfer point between routes. 
#    1 - Timed transfer point between two routes. The departing vehicle is expected to wait for the arriving one and leave sufficient time for a rider to transfer between routes.
#    2 - Transfer requires a minimum amount of time between arrival and departure to ensure a connection. The time required to transfer is specified by min_transfer_time.
#    3 - Transfers aren't possible between routes at the location.
#    4 - Passengers can stay onboard the same vehicle to transfer from one trip to another (an "in-seat transfer").
#    5 - In-seat transfers aren't allowed between sequential trips. The passenger must alight from the vehicle and re-board.

   from_stop_id  to_stop_id  transfer_type
0         30173       30173              0
1         30173       30175              0
2         30256       30258              0
3         30257       30258              0
4         30236       30233              0

In [14]:
transfers

     from_stop_id  to_stop_id  transfer_type
0           30173       30173              0
1           30173       30175              0
2           30256       30258              0
3           30257       30258              0
4           30236       30233              0
..            ...         ...            ...
160         30132       30132              0
161         30131       30132              0
162         30073       30072              0
163         30073       30073              0
164         30289       30073              0

[165 rows x 3 columns]

In [12]:
trips = pandas.read_csv('google_transit/trips.txt')
trips.head()

# route_id: Identifies a route.
# service_id: Identifies a set of dates when service is available for one or more routes.
# trip_id: Identifies a trip.
# direction_id: Indicates the direction of travel for a trip. 0 - Travel in one direction (e.g. outbound travel). 1 - Travel in the opposite direction (e.g. inbound travel).
# block_id: Identifies the block to which the trip belongs. A block consists of a single trip or many sequential trips made using the same vehicle, 
#   defined by shared service days and block_id. A block_id can have trips with different service days, making distinct blocks.
# shape_id: Identifies a geospatial shape that describes the vehicle travel path for a trip.

,route_id,service_id,trip_id,direction_id,block_id,shape_id,direction,wheelchair_accessible,schd_trip_id
0,X49,66201,6620042528020,1,662000001341,66207873,North,1,42528020
1,X49,66201,6620043108020,1,662000002919,66207873,North,1,43108020
2,X49,66201,6620043771020,1,662000001342,66207873,North,1,43771020
3,X49,66201,6620044790020,1,662000003037,66207873,North,1,44790020
4,X9,66201,6620000276020,1,662000002882,66208470,North,1,276020